@import url('https://fonts.googleapis.com/css?family=Karla:400i&display=swap');

.font-bold{

}
.buscar-caja {
 position: absolute;
 top: 15%;
 left: 50%;
 transform: translate(-50%, -50%);
 background: #2f3640;
 height: 40px;
 border-radius: 40px;
 width: 60%;
}
#textbox::placeholder {
 color: #fff;
 opacity: 1;
}
.buscar-caja:hover > .buscar-txt {
 width: 240px;
 padding: 0 6px;
}

.buscar-caja:hover > .buscar-btn {
 background: white;
 color: black;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.buscar-btn {
 float: right;
 width: 40px;
 height: 40px;
 border-radius: 50%;
 background: #1b68b4;
 display: flex;
 justify-content: center;
 align-items: center;
 transition: 0.4s;
 color: white;
 cursor: pointer;
}

.buscar-btn > i {
 font-size: 30px;
}

.buscar-txt {
 border: none;
 background: none;
 outline: none;
 float: left;
 padding: 0;
 color: white;
 font-size: 30px;
 transition: 0.4s;
 line-height: 40px;
 font-weight: bold;
 width: 240px;
 padding: 0 6px 0 30px;
}

.WhiteToBlack
{
  fill: white;
  stroke: white;
}

.buscar-caja:hover .WhiteToBlack {
  fill: black;
  stroke: black;
}

.boton-recom{
  background-color: #ffffff;
  background-repeat:no-repeat;
  border: none;
  color: #91bde8;
}

.market{
  position: relative;
 top: 0px;
 left: 0px;
}

.c-s{
  width: 50px;
  height: 50px;
  padding-bottom: 5px;
}
.c-xs{
  width: 30px;
  height: 30px;
  padding-bottom: 5px;
}
/* COLORES FILTROS */
.down-line{
border-bottom: 2px solid #ddd;

}
.colores{}
.c-negro{fill:#212121;}
.c-gris{fill:#999999;}
.c-blanco{fill:#dddddd;}
.c-azul{fill:#002850;}
.c-cafe{fill:#94684F;}
.c-rojo{fill:#AA0E02;}
.c-verde{fill:#386C58;}
.c-amarillo{fill:#F5CC61;}
.c-naranja{fill:#f99245;}

.price-style{
  border: 1px solid #ccc;
  padding: 7px 14px 9px;
  transition: 0.4s;
  color: #000;
}
.price-style::placeholder {color: #555;
}
.market-image{
  width: 100%;
}
.market-buy{
  width: 50%;
  height: 50%;
}

.box{
border: 2px solid  rgba(221,221,221,0.0);
transition: border 200ms ease-out;
}
.box:hover{
border: 2px solid #dddddd;
}
.market-image img{
  border: 2px  solid rgba(221,221,221,0.0);
  transition: border 200ms ease-out;
}
.market-image img:hover{
  border: 2px solid rgba(221,221,221,1);
}
.market-icon{
stroke:#000;
transform: translate(0, 0);
transition: all 200ms ease-out;
}
.market-icon:hover {
 stroke:red;
 transform: translate(0, -3px);
}
.market-cart{
  fill:#002850;
  transform: translate(0, 0);
  transition: all 200ms ease-out;
}
.market-cart:hover{
fill:#CCC;

  transform: translate(0, -3px);
}


.b-right{
  border-right: 2px solid #ddd;
}
.b-down{
  border-bottom: 2px solid #AAA;
}
.b-all{
border: 1px solid #AAA;
}
.b-all:hover
.font-bold{
  font-weight: bold;
}
.font-light{
  font-size: 15px;
  color:#888;
  font-family: 'Karla', sans-serif;
}
