/* TEST 2 */
body {

  color: #;
  font-family: Helvetica;
  font-size:20px;
  background: #fff;
  -webkit-text-size-adjust: none;
}
#firstpage{font-size: 1.5vw;}

#center-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#copyright {
  position: absolute;
  text-align: right;
  bottom: 5%;
  width: 95%;
}

.fullpage {
  height: 100vh;
}
.fullpage-1 {
  height: 100vh;

}
.halfpage {
  height: 50vh;
}

/* ANIMACIONES */

#UPlogoSVG {
  animation: rainbow 12s infinite alternate;
  animation-delay: 2s;
}

@keyframes rainbow{
  12.5% {fill:#ff2400;}
  25% {fill:#e81d1d;}
  37.5% {fill:#e8b71d;}
  50% {fill:#e3e81d;}
  62.5% {fill:#1de840;}
  75% {fill:#1ddde8;}
  87.5% {fill:#2b1de8;}
  100% {fill:#452678;}
}
.animation-opacity{animation:opac 1s}@keyframes opac{from{opacity:0} to{opacity:1}}
.animation-spin{animation:w3-spin 4s infinite linear}@keyframes w3-spin{0%{transform:rotate(0deg)}100%{transform:rotate(359deg)}}

/* FIN ANIMACIONES */

.icon-small{
  height: 20px;
}
.icon-mid {
  width: 60px;
}
.image-mid {
  width: 60%;
}
.x64{
  height: 5em;
  width: 5em;
}

#downpage {
  height: 100vh;
}

#center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#aa-subscribe .aa-subscribe-area .aa-subscribe-form input[type="submit"] {
  background: #171E51 none repeat scroll 0 0;
  border: 1px solid #171E51;
}

#navbar{
  z-index: 500;
}
#navbar ul{
  list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: #333;
}
#navbar li {
  float: left;
}
#navbar li a{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-bottom: 2px solid #333;
  transition: all 100ms linear;
}
#navbar li a:hover:not(.active) {
  background-color: #000;
    border-bottom: 2px solid #fff;
}
.btn-green {
  background-color: #4CAF50;
  border-bottom: 2px solid #4CAF50 !important;
}
li.nav-right {
    float: right !important;
  }

.FlyMe {
  padding: absolute;
  top: 20%;
  z-index: 1;
  color: #000;
}

.ToThe {
  position: absolute;
  left: 0px;
  top: 100vh;
  width: 100%;
  z-index: -1;
}

.Moon {
  top: 120vh;
  padding-bottom: 10%;
}

#img-icon{
  width: 12px;
  height: 12px;
}
#navbar .nav-left{
  float: left;
}
#navbar .nav-right{
  float: right;
}
.sticky {
  position: sticky;
  top: 0;
  width: 100%;
}

.sticky+.content {
  padding-top: 60px;
}
