body {
  background: #fff;
  color: #;
  font-family: Helvetica;
  font-size:1.5vw;
}

#center-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#copyright {
  position: absolute;
  text-align: right;
  bottom: 5%;
  width: 95%;
}
#UPlogoSVG{
  animation: rainbow 12s infinite alternate;
}

@keyframes rainbow {
  12.5% {fill: #ff2400;}
  25%{fill: #e81d1d}
  37.5%{fill: #e8b71d;}
  50%{fill: #e3e81d;}
  62.5%{fill: #1de840;}
  75%{fill: #1ddde8;}
  87.5%{fill: #2b1de8;}
  100%{fill: #452678;}
  }
.icon-small{
  width: 60px;
}
.image-mid{
  width: 60%;
}
.nondot{
  list-style-type: none;
}
.fullpage{
  height: 100vh;
}
#downpage{
  height: 100vh;
}
#center{display: block;
margin-left: auto;
margin-right: auto;}
#pagetop{
	position: fixed;
	top: 0px;
	width:100%;
	height: 120px;
	background: #06C;
	color: #FFF;
	font-size: 23px;
	padding-top: 50px;
	transition: height 0.2s linear 0s, padding 0.2s linear 0s;
	overflow:hidden;
}
#pagetop > #menu{
	position: absolute;
	bottom: 0px;
	width:100%;
	background: #004A95;
	height: 50px;
	transition: height 0.2s linear 0s;
}
#wrapper{ margin-top: 230px; }

section{
  width: 100%;
  height: 100vh;
  display: flex;
}
